[Unit]
Description=pymailadmin - Web administration interface for mail server
After=network.target

[Service]
Type=notify
ExecStart=/var/www/pymailadmin/venv/bin/gunicorn \
    --worker-class sync \
    --workers 2 \
    --bind 127.0.0.1:8686 \
    --worker-tmp-dir /tmp \
    --max-requests 1000 \
    --max-requests-jitter 100 \
    --error-logfile /var/log/pymailadmin/error.log \
    --timeout 120 \
    --preload \
    app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
TimeoutStopSec=10

# Logs
StandardOutput=journal
StandardError=journal

# Unprivileged user
User=pymailadmin
Group=pymailadmin

# Files
ReadWritePaths=/var/log/pymailadmin /var/www/pymailadmin/venv
ReadOnlyPaths=/var/www/pymailadmin
InaccessiblePaths=/etc/passwd

# Environment
WorkingDirectory=/var/www/pymailadmin
Environment=PATH=/var/www/pymailadmin/venv/bin
Environment=PYTHONUNBUFFERED=1

# Restart policy
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
